.model-annotation2 {
  margin-left: 0px;
  margin-right: 0px;
  margin-top: -10px;
  margin-bottom: 5px;
  
  padding-left: 15px;
  padding-right: 15px;
  padding-top: 5px;
  padding-bottom: 0px;

  transform: translate3d(50%, 0, 0);
  text-align: left;
  background: #202035;
  color: white;
  
  border-radius: 5px;
  max-width: 300px;
}


.model-annotation {
  margin-left: 0px;
  margin-right: 0px;
  margin-top: -10px;
  margin-bottom: 0px;
  
  padding-left: 15px;
  padding-right: 15px;
  padding-top: 5px;
  padding-bottom: 5px;

  transform: translate3d(50%, 0, 0);
  text-align: left;
  background: rgba(0, 0, 0, 0.8);
  color: #fff;

  border-radius: 5px;
  max-width: 300px;
}

.model-annotation-displaytext {
  width: 300px;
}

.annotation_editmode {
  outline-color: red;
  background: rgba(0, 0, 255, 0.8);
  width: 300px;
}